
<section *ngIf="!loading" class="loading justify-content-center align-items-center">
    <div class="spnr lds-facebook"><div></div><div></div><div></div></div>
</section>




<div class="container pt-5">

    <div class="row pt-5">

        <div *ngFor="let movie of trendingMovies" class="col-lg-3 col-md-4 py-4">     
            <img [src]="imgComplete+movie.poster_path" class="rounded-4 w-100">  
            <img [src]="imgComplete+movie.backdrop_path" class="w-100 mt-4 rounded-pill">  
        </div>


        <div *ngFor="let tv of trendingTv" class="col-lg-3 col-md-4 py-4">          
            <img [src]="imgComplete+tv.poster_path" class="rounded-4 w-100">
            <img [src]="imgComplete+tv.backdrop_path" class="w-100 mt-4 rounded-pill">             
        </div>

        <div *ngFor="let person of trendingPeople" class="col-lg-3 col-md-4 py-4">
            <img [src]="imgComplete+person.profile_path" class="w-100 rounded-pill">
            <h3 class="h6 fw-bolder my-3 text-center">{{person.name}}</h3>  
        </div>

    </div>
</div>