/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');

body{
    background-color: #131722;
    color: white;
    font-family: 'Montserrat Alternates', sans-serif;
}

a,a:hover
{
    text-decoration: none;
    color: white !important;
}
nav h3{
    text-transform: uppercase !important;
}

.bg-voting{
    background-color: #24baef;
    height:50px ;
    width:70px ;
    position: absolute;
    top: -8px;
    right: -8px;
    border-bottom-left-radius: 100%;
}

.brdr{
    background-color: #a8a8a83d;
    height: 1px;
}

.brdrh2{
    letter-spacing: 3px ;

}

.scnd-lyr{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    transition: 0.5s ease;
}

.scnd-lyrh4{
    letter-spacing: 6px;
    transition: 0.5s ease;
    text-shadow: 2px 2px 4px #24baef, 2px 2px 4px #24baef ;
}

.scnd-lyr:hover{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 1;
}
.scnd-lyr:hover .scnd-lyrh4{
    letter-spacing: 0;

}




// spinner 

body{
    overflow: hidden;
}

.loading{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999999999999999;
    background-color: #444;
    display: flex;
}



.lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #fff;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }
  .lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
  }
  .lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
  }
  @keyframes lds-facebook {
    0% {
      top: 8px;
      height: 64px;
    }
    50%, 100% {
      top: 24px;
      height: 32px;
    }
  }
  