
<header class="vh-100 w-100 m-0 p-0 d-flex align-items-center justify-content-center">
    <div class="layer"></div>
    <div class="container creative">
        <h2 class="my-4">Top Trending Media Right Now</h2>
        <owl-carousel-o [options]="customOptions">

            <ng-container *ngFor="let movie of headerTrendingMovies">
              <ng-template carouselSlide [id]="movie.id">
                <img [src]="imgComplete+movie.poster_path">
              </ng-template>
            </ng-container>
        
        </owl-carousel-o>
    </div>
</header>
<div >

    
</div>